:root {
  --cc-bg: rgba(0, 0, 0, 0.15);
  --cc-border: rgb(137, 220, 235);
  --noti-border-color: rgb(137, 220, 235);
  --noti-border-color-hover: rgb(203, 166, 247);
  --noti-bg: 0, 0, 0;
  --noti-bg-alpha: 0.15;
  --noti-bg-darker: rgb(38, 38, 38);
  --noti-bg-hover: rgba(137, 220, 235, 0.6);
  --noti-bg-focus: none; 
  --noti-close-bg: none;
  --noti-close-bg-hover: none;
  --text-color: rgb(255, 255, 255);
  --text-color-disabled: rgb(150, 150, 150);
  --bg-selected: none;
  --notification-icon-size: 32px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 0px;
}

.close-button {
  /* The notification Close Button */
  background: var(--noti-close-bg);
  color: transparent; 
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 5px;
  margin-right: 5px;
  box-shadow: none;
  border: none;
  min-width: 12px;
  min-height: 12px;
}

.close-button:hover {
  color: red;
  box-shadow: none;
  background: var(--noti-close-bg-hover);
  transition: background 0.15s ease-in-out;
  border: none;
}

.notification-row {
  background: none;
  outline: none;
}

.notification-row:focus {
  background: var(--noti-bg-focus);
}

.notification-row .notification-background {
  padding: 6px 12px;
}

.notification-row .notification-background .notification {
  /* The actual notification */
  border-radius: 12px;
  border: 1px solid var(--noti-border-color);
  padding: 0;
  transition: background 0.15s ease-in-out;
  background: rgba(var(--noti-bg), var(--noti-bg-alpha));
}

.notification-row:hover .notification-background:hover .notification:hover {
  border-color: var(--noti-border-color-hover);
}

.notification-row .notification-background .notification.low {
  /* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
  /* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
  /* Critical Priority Notification */
}

.notification-row .notification-background .notification .notification-default-action {
  /* The large action that also displays the notification summary and body */
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  color: var(--text-color);
  transition: background 0.15s ease-in-out;
  border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action:hover {
  -gtk-icon-filter: none;
  background: var(--noti-bg-hover);
  border-color: var(--noti-border-color-hover);
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  /* When alternative actions are visible */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: 12px;
  padding: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-icon-size);
  border-radius: 100px;
  /* Size in px */
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-app-icon-size);
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box label {
  /* Fixes base GTK 4 CSS setting a filter of opacity 50% for some odd reason */
  filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: 12px;
  font-weight: bold;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  /* Notification time-ago */
  font-size: 10px;
  font-style: italic;
  font-weight: normal;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
  margin-right: 10px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: 12px;
  font-weight: normal;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  /* The optional notification progress bar */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  /* The "extra" optional bottom notification image */
  margin-top: 4px;
  background-color: white;
  -gtk-icon-filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  /* The inline reply section */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: var(--noti-bg-darker);
  color: var(--text-color);
  caret-color: var(--text-color);
  border: 1px solid var(--noti-border-color);
  border-radius: 12px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: rgba(var(--noti-bg), var(--noti-bg-alpha));
  border: 1px solid var(--noti-border-color);
  border-radius: 12px;
  color: var(--text-color);
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  background: initial;
  color: var(--text-color-disabled);
  border: 1px solid var(--noti-border-color);
  border-color: transparent;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: var(--noti-bg-hover);
  border-color: var(--noti-border-color-hover);
}

.notification-row .notification-background .notification .notification-alt-actions {
  background: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 4px;
}

.notification-row .notification-background .notification .notification-action {
  /* The alternative actions below the default action */
  margin: 4px;
  padding: 0;
}

.notification-row .notification-background .notification .notification-action > button {
  border-radius: 12px;
}

.notification-group {
  /* Styling only for Grouped Notifications */
  transition: opacity 200ms ease-in-out;
  /* The groups close button */
  outline: none;
  padding: 4px;
  padding-bottom: 0px;
}

.notification-group:focus {
  background: var(--noti-bg-focus);
}

.notification-group.low {
  /* Low Priority Group */
}

.notification-group.normal {
  /* Low Priority Group */
}

.notification-group.critical {
  /* Low Priority Group */
}

.notification-group .notification-group-close-button .close-button {
  margin: 12px 20px;
}

.notification-group .notification-group-buttons, .notification-group .notification-group-headers {
  margin: 0 16px;
  color: var(--text-color);
}

.notification-group-close-all-button, .notification-group-collapse-button {
  border: 1px solid var(--cc-border);
  border-radius: 6px;
  min-height: 8px;
  padding: 4px;
  margin-left: 2px;
}

.notification-group-close-all-button:hover, .notification-group-collapse-button:hover {
  color: red;
  background-color: var(--cc-border);
}

.notification-group .notification-group-headers {
  /* Notification Group Headers */
  font-size: 0.7rem;
}

.notification-group .notification-group-headers .notification-group-icon {
  color: var(--text-color);
  -gtk-icon-size: var(--notification-group-icon-size);
}

.notification-group .notification-group-headers .notification-group-header {
  color: var(--text-color);
}

.notification-group .notification-group-buttons {
  /* Notification Group Buttons */
}

.notification-group.collapsed {
  /* When another group is expanded, lower the opacity of the collapsed ones */
}

.notification-group.collapsed.not-expanded {
    opacity: 1;
}

.notification-group.collapsed .notification-row .notification {
  background-color: rgba(var(--noti-bg), 0.1);
  border-color: var(--noti-border-color);
}

.notification-group.collapsed .notification-row:not(:last-child) {
  /* Top notification in stack */
  /* Set lower stacked notifications opacity to 0 */
  filter: blur(1px);
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 0.4;
  filter: blur(4px);
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background-color: var(--noti-bg-hover);
  border-color: var(--noti-border-color-hover);
}

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  background: var(--cc-bg);
  border: 1px solid var(--cc-border);
  color: var(--text-color);
  border-radius: 12px;
  padding: 4px;
}

.control-center .control-center-list-placeholder {
  /* The placeholder when there are no notifications */
  opacity: 0.5;
}

.control-center .control-center-list {
  /* List of notifications */
  background: transparent;
}

.control-center .control-center-list .notification {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: opacity 400ms ease-in-out, background 0.15s ease-in-out;
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: var(--noti-bg-hover);
  border-color: var(--noti-border-color-hover);
}

.blank-window {
  /* Window behind control center and on all other monitors */
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
}

/*** Widgets ***/
/* Title widget */
.widget-title > label {
  margin: 8px;
  font-size: 1.3rem;
}

.widget-title > button {
  font-size: 1.3rem;
  margin: 8px;
  border-radius: 8px;
  border: 2px solid var(--cc-border);
  padding: 0;
  min-width: 50px;
  min-height: 25px;
  margin-right: 20px;
}

.widget-title > button:hover {
  color: red;
  background-color: var(--cc-border);
}

.NotificationCenterTitle > label {
  color: var(--cc-border);
  margin-left: 15px;
  font-size: 2rem;
  font-weight: bold;
}

/* DND widget */
.widget-dnd label {
  color: var(--text-color);
  margin: 8px;
  font-size: 1rem;
}

.widget-dnd switch {
  border-radius: 8px;
  border: 2px solid var(--cc-border);
  margin: 8px;
  min-width: 50px;
  min-height: 20px;
  margin-right: 20px;
  box-shadow: none;
  padding: 0px;
}

.widget-dnd switch:hover {
  background-color: var(--noti-border-color-hover);
}

.widget-dnd switch:checked {
  background-color: var(--noti-border-color);
}

.widget-dnd switch:checked:hover {
  background-color: var(--noti-border-color-hover);
}

.widget-dnd switch slider {
  border-radius: 6px;
}

/* Label widget */
.widget-label {
  margin: 8px;
}

.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
:root {
  --mpris-album-art-overlay: rgba(0, 0, 0, 0.55);
  --mpris-button-hover: rgba(0, 0, 0, 0.5);
  --mpris-album-art-icon-size: 80px;
}

.widget-mpris {
  /* The parent to all players */
  margin: 0px;
}

.widget-mpris .widget-mpris-player {
  margin: 10px 20px;
  margin-bottom: 0px;
  border-radius: 12px;
  border: 2px solid var(--cc-border);
  box-shadow: none;
  background: rgba(0, 0, 0, 0.1); /* trancparency not applies */
}

.widget-mpris .widget-mpris-player .mpris-background {
  opacity: 0;
}

.widget-mpris .widget-mpris-player .mpris-overlay {
  padding: 16px;
  background-color: rgba(0,0,0,0);
}

.widget-mpris .widget-mpris-player .mpris-overlay button:hover {
  /* The media player buttons (play, pause, next, etc...) */
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
  border-radius: 12px;
  border: 2px solid var(--cc-border);
  box-shadow: none;
  -gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-title {
  font-weight: bold;
  font-size: 1rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-subtitle {
  margin-top: 8px;
  font-size: 0.8rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button {
  /* Change player control buttons */
  color: var(--cc-border);
  -gtk-icon-size: 30px;
  margin: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button:hover {
  background-color: transparent;
  color: var(--noti-border-color-hover);
}

.widget-mpris > box > button {
  /* Change player side buttons */
}

.widget-mpris > box > button:disabled {
  /* Change player side buttons insensitive */
}

/* Buttons widget */
.widget-buttons-grid {
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.widget-buttons-grid flowboxchild > button {
  border-radius: 12px;
}

.widget-buttons-grid flowboxchild > button.toggle:checked {
  /* style given to the active toggle button */
}

/* Menubar widget */
.widget-menubar {
  /* The revealer buttons */
  /* .AnyName { Name defined in config after #
    background-color: rgba(var(--noti-bg), 1.0);
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
  }

  .AnyName>button {
    background: transparent;
    border: none;
  }

  .AnyName>button:hover {
    background-color: var(--noti-bg-hover);
  } */
}

.widget-menubar > .menu-button-bar {
  /* The left button container */
  /* The right button container */
  /* The left and right button container */
}

.widget-menubar > .menu-button-bar > .start {
  margin-left: 8px;
}

.widget-menubar > .menu-button-bar > .end {
  margin-right: 8px;
}

.widget-menubar > .menu-button-bar > .widget-menubar-container button {
  border-radius: 12px;
  margin: 0 4px;
}

.widget-menubar > revealer {
  margin-top: 8px;
}

.widget-menubar > revealer button {
  border-radius: 12px;
  margin: 8px;
  margin-top: 0;
}

/* Volume widget */
:root {
  --widget-volume-row-icon-size: 24px;
}

.widget-volume {
  padding: 4px;
  margin: 0px 20px 15px 20px;
  border-radius: 12px;
  font-size: 1.3rem;
}

/* Each row app icon */
.widget-volume row image {
  -gtk-icon-size: var(--widget-volume-row-icon-size);
}

.per-app-volume {
  background-color: var(--noti-bg-alt);
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
  border-radius: 12px;
}

.widget-volume trough {
  margin-left: 10px;
  border-radius: 0px;
  min-height: 4px;
}

.widget-volume trough highlight {
  background: var(--cc-border);
  border-radius: 0px;
}

.widget-volume slider {
  opacity: 0;
}

/* Slider widget */
.widget-slider {
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.widget-slider label {
  font-size: inherit;
}

/* Backlight widget */
.widget-backlight {
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

/* Inhibitors widget */
.widget-inhibitors > label {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  margin: 8px;
  border-radius: 12px;
}
